body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Beethoven.jpg");
  background-size: 100%;
}

#gameCanvas {
   position: absolute;
   top:0;
   bottom: 0;
   left: 28%;
   right: 0;
   margin: 0 auto;
}

.levels {
  float:left;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 100px;
  color: #FF0000;
  text-align: center;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
  color: #00FF00;
  text-align: center;
  padding-top: 50px;
}

.hidden {
  display: none;
}

#play-button {
  height: 100px;
  margin: auto;
}

.play-circle {
  position: relative;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  border-radius: 50%;
  margin: auto;
}

.play-circle:hover {
  border: 5px solid #FF0000
}

.triangle {
  font-size: 100px;
  position: absolute;
  bottom: 8px;
  left: 41px;
  cursor: pointer;
}

.triangle:hover {
  color: #00FF00
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #33FF00;
}
