.levels {
  float:left;
}

h2 {
  cursor: pointer;
}

.hidden {
  display: none;
}

.play-button-holder {
  position: absolute;
  left: 5px;
  top: 220px;
  height: 100px;
}

.play-button {
  height: 100px;
  width: 100px;
  border: 20px solid black;
  border-radius: 50%;
}

.play-button:hover {
  border: 20px solid #FF0000
}

.triangle {
  font-size: 50px;
  position: absolute;
  bottom: -3px;
  left: 52px;
  cursor: pointer;
}

.triangle:hover {
  color: #00FF00
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #33FF00;
}
