.levels {
  float:left;
}

h1 {
  position: absolute;
  top: 20px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
}

.hidden {
  display: none;
}

.play-button-holder {
  position: absolute;
  left: 22px;
  top: 108px;
  height: 100px;
}

.play-button {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 50%;
}

.play-button:hover {
  border: 5px solid #FF0000
}

.triangle {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  left: 39px;
  cursor: pointer;
}

.triangle:hover {
  color: #00FF00
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #33FF00;
}
